In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,ID_279628684,190000.0,0,3,0,1,1,0,NaN,0,...,100,1849,1,100,0,1.000000,0.0,100.0,1849,4
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144,4489,1,144,0,1.000000,64.0,144.0,4489,4
2,ID_68de51c94,NaN,0,8,0,1,1,0,NaN,0,...,121,8464,1,0,0,0.250000,64.0,121.0,8464,4
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,81,289,16,121,4,1.777778,1.0,121.0,289,4
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121,1369,16,121,4,1.777778,1.0,121.0,1369,4

In [4]:
test.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,age,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq
0,ID_2f6873615,NaN,0,5,0,1,1,0,NaN,1,...,4,0,16,9,0,1,2.25,0.25,272.25,16
1,ID_1c78846d2,NaN,0,5,0,1,1,0,NaN,1,...,41,256,1681,9,0,1,2.25,0.25,272.25,1681
2,ID_e5442cf6a,NaN,0,5,0,1,1,0,NaN,1,...,41,289,1681,9,0,1,2.25,0.25,272.25,1681
3,ID_a8db26a79,NaN,0,14,0,1,1,1,1.0,0,...,59,256,3481,1,256,0,1.00,0.00,256.00,3481
4,ID_a62966799,175000.0,0,4,0,1,1,1,1.0,0,...,18,121,324,1,0,1,0.25,64.00,NaN,324

In [5]:
train.shape

(9557, 143)

In [6]:
train.columns

Index(['Id', 'v2a1', 'hacdor', 'rooms', 'hacapo', 'v14a', 'refrig', 'v18q',
       'v18q1', 'r4h1',
       ...
       'SQBescolari', 'SQBage', 'SQBhogar_total', 'SQBedjefe', 'SQBhogar_nin',
       'SQBovercrowding', 'SQBdependency', 'SQBmeaned', 'agesq', 'Target'],
      dtype='object', length=143)

In [7]:
train.info

<bound method DataFrame.info of                 Id      v2a1  hacdor  rooms  hacapo  v14a  refrig  v18q  \
0     ID_279628684  190000.0       0      3       0     1       1     0
1     ID_f29eb3ddd  135000.0       0      4       0     1       1     1
2     ID_68de51c94       NaN       0      8       0     1       1     0
3     ID_d671db89c  180000.0       0      5       0     1       1     1
4     ID_d56d6f5f5  180000.0       0      5       0     1       1     1
...            ...       ...     ...    ...     ...   ...     ...   ...
9552  ID_d45ae367d   80000.0       0      6       0     1       1     0
9553  ID_c94744e07   80000.0       0      6       0     1       1     0
9554  ID_85fc658f8   80000.0       0      6       0     1       1     0
9555  ID_ced540c61   80000.0       0      6       0     1       1     0
9556  ID_a38c64491   80000.0       0      6       0     1       1     0

      v18q1  r4h1  ...  SQBescolari  SQBage  SQBhogar_total  SQBedjefe  \
0       NaN     0  ...          100    1849               1        100
1       1.0     0  ...          144    4489               1        144
2       NaN     0  ...          121    8464               1          0
3       1.0     0  ...           81     289              16        121
4       1.0     0  ...          121    1369              16        121
...     ...   ...  ...          ...     ...             ...        ...
9552    NaN     0  ...           81    2116              25         81
9553    NaN     0  ...            0       4              25         81
9554    NaN     0  ...           25    2500              25         81
9555    NaN     0  ...          121     676              25         81
9556    NaN     0  ...           64     441              25         81

      SQBhogar_nin  SQBovercrowding  SQBdependency  SQBmeaned  agesq  Target
0                0         1.000000         0.0000   100.0000   1849       4
1                0         1.000000        64.0000   144.0000   4489       4
2                0         0.250000        64.0000   121.0000   8464       4
3                4         1.777778         1.0000   121.0000    289       4
4                4         1.777778         1.0000   121.0000   1369       4
...            ...              ...            ...        ...    ...     ...
9552             1         1.562500         0.0625    68.0625   2116       2
9553             1         1.562500         0.0625    68.0625      4       2
9554             1         1.562500         0.0625    68.0625   2500       2
9555             1         1.562500         0.0625    68.0625    676       2
9556             1         1.562500         0.0625    68.0625    441       2

[9557 rows x 143 columns]>

In [8]:
print(train.dtypes.value_counts())

int64      130
float64      8
object       5
dtype: int64

In [9]:
train.columns

Index(['Id', 'v2a1', 'hacdor', 'rooms', 'hacapo', 'v14a', 'refrig', 'v18q',
       'v18q1', 'r4h1',
       ...
       'SQBescolari', 'SQBage', 'SQBhogar_total', 'SQBedjefe', 'SQBhogar_nin',
       'SQBovercrowding', 'SQBdependency', 'SQBmeaned', 'agesq', 'Target'],
      dtype='object', length=143)

In [10]:
cat_colm = [fea for fea in train.columns if train[fea].dtype== 'object']

In [11]:
train[cat_colm]

                Id    idhogar dependency edjefe edjefa
0     ID_279628684  21eb7fcc1         no     10     no
1     ID_f29eb3ddd  0e5d7a658          8     12     no
2     ID_68de51c94  2c7317ea8          8     no     11
3     ID_d671db89c  2b58d945f        yes     11     no
4     ID_d56d6f5f5  2b58d945f        yes     11     no
...            ...        ...        ...    ...    ...
9552  ID_d45ae367d  d6c086aa3        .25      9     no
9553  ID_c94744e07  d6c086aa3        .25      9     no
9554  ID_85fc658f8  d6c086aa3        .25      9     no
9555  ID_ced540c61  d6c086aa3        .25      9     no
9556  ID_a38c64491  d6c086aa3        .25      9     no

[9557 rows x 5 columns]

In [12]:
train.drop(['Id','idhogar'],axis=1,inplace=True)

In [13]:
train['dependency'].value_counts()

yes          2192
no           1747
.5           1497
2             730
1.5           713
.33333334     598
.66666669     487
8             378
.25           260
3             236
4             100
.75            98
.2             90
.40000001      84
1.3333334      84
2.5            77
5              24
1.25           18
3.5            18
.80000001      18
2.25           13
.71428573      12
1.2            11
.83333331      11
.22222222      11
1.75           11
.2857143        9
1.6666666       8
.60000002       8
6               7
.16666667       7
Name: dependency, dtype: int64

In [14]:
def map(i):
    
    if i=='yes':
        return(float(1))
    elif i=='no':
        return(float(0))
    else:
        return(float(i))

In [15]:
train['dependency']=train['dependency'].apply(map)

In [16]:
cat = [fea for fea in train.columns if train[fea].dtype== 'object']

In [17]:
train[cat]

     edjefe edjefa
0        10     no
1        12     no
2        no     11
3        11     no
4        11     no
...     ...    ...
9552      9     no
9553      9     no
9554      9     no
9555      9     no
9556      9     no

[9557 rows x 2 columns]

In [18]:
train['edjefe']=train['edjefe'].apply(map)
train['edjefa']=train['edjefa'].apply(map)

## Lets Identift Columns with 0 variance

In [19]:
var_df=pd.DataFrame(np.var(train,0),columns=['variance'])
var_df.sort_values(by='variance').head(15)
print('Below are columns with variance 0.')
col=list((var_df[var_df['variance']==0]).index)
print(col)

Below are columns with variance 0.
['elimbasu5']

In [20]:
train.drop('r4t3',axis=1,inplace=True)

## House with a Family Head

In [21]:
train.parentesco1.value_counts()

0    6584
1    2973
Name: parentesco1, dtype: int64

In [22]:
pd.crosstab(train['edjefa'],train['edjefe'])

edjefe,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0
edjefa,,,,,,,,,,,,,,,,,,,,,
0.0,435,123,194,307,137,222,1845,234,257,486,...,113,103,208,285,134,202,19,14,7,43
1.0,69,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2.0,84,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3.0,152,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4.0,136,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5.0,176,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6.0,947,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7.0,179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8.0,217,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9.0,237,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10.0,96,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11.0,399,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12.0,72,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13.0,52,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14.0,120,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15.0,188,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16.0,113,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17.0,76,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18.0,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19.0,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20.0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21.0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
train.isnull().sum().value_counts()

0       135
5         2
7928      1
6860      1
7342      1
dtype: int64

In [24]:
train['Target'].isna().sum()

0

In [25]:
float_col=[]
for i in train.columns:
    a=train[i].dtype
    if a == 'float64':
        float_col.append(i)
print(float_col)

['v2a1', 'v18q1', 'rez_esc', 'dependency', 'edjefe', 'edjefa', 'meaneduc', 'overcrowding', 'SQBovercrowding', 'SQBdependency', 'SQBmeaned']

In [26]:
train[float_col].isna().sum()

v2a1               6860
v18q1              7342
rez_esc            7928
dependency            0
edjefe                0
edjefa                0
meaneduc              5
overcrowding          0
SQBovercrowding       0
SQBdependency         0
SQBmeaned             5
dtype: int64

In [27]:
train['v18q1'].value_counts()

1.0    1586
2.0     444
3.0     129
4.0      37
5.0      13
6.0       6
Name: v18q1, dtype: int64

In [28]:
train['v2a1'].fillna(0,inplace=True)
train['v18q1'].fillna(0,inplace=True)

In [29]:
train.drop(['tipovivi3', 'v18q','rez_esc','elimbasu5'],axis=1,inplace=True)

In [30]:
train['meaneduc'].fillna(np.mean(train['meaneduc']),inplace=True)
train['SQBmeaned'].fillna(np.mean(train['SQBmeaned']),inplace=True)
print(train.isna().sum().value_counts())

0    136
dtype: int64

In [31]:
Poverty_level=train[train['v2a1'] !=0]

In [32]:
Poverty_level

,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q1,r4h1,r4h2,r4h3,...,SQBescolari,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target
0,190000.0,0,3,0,1,1,0.0,0,1,1,...,100,1849,1,100,0,1.000000,0.0000,100.0000,1849,4
1,135000.0,0,4,0,1,1,1.0,0,1,1,...,144,4489,1,144,0,1.000000,64.0000,144.0000,4489,4
3,180000.0,0,5,0,1,1,1.0,0,2,2,...,81,289,16,121,4,1.777778,1.0000,121.0000,289,4
4,180000.0,0,5,0,1,1,1.0,0,2,2,...,121,1369,16,121,4,1.777778,1.0000,121.0000,1369,4
5,180000.0,0,5,0,1,1,1.0,0,2,2,...,121,1444,16,121,4,1.777778,1.0000,121.0000,1444,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9552,80000.0,0,6,0,1,1,0.0,0,2,2,...,81,2116,25,81,1,1.562500,0.0625,68.0625,2116,2
9553,80000.0,0,6,0,1,1,0.0,0,2,2,...,0,4,25,81,1,1.562500,0.0625,68.0625,4,2
9554,80000.0,0,6,0,1,1,0.0,0,2,2,...,25,2500,25,81,1,1.562500,0.0625,68.0625,2500,2
9555,80000.0,0,6,0,1,1,0.0,0,2,2,...,121,676,25,81,1,1.562500,0.0625,68.0625,676,2
9556,80000.0,0,6,0,1,1,0.0,0,2,2,...,64,441,25,81,1,1.562500,0.0625,68.0625,441,2

In [33]:
Poverty_level.shape

(2668, 136)

In [34]:
def povert(x):
    if x<8000:
        return('Below poverty level')
    
    elif x>140000:
        return('Above poverty level')
    elif x<140000:
        return('Below poverty level: Ur-ban ; Above poverty level : Rural ')

In [35]:
c=Poverty_level['v2a1'].apply(povert)

In [36]:
c.shape

(2668,)

In [37]:
pd.crosstab(c,Poverty_level['area1'])

area1                                                 0     1
v2a1
Above poverty level                                 139  1103
Below poverty level: Ur-ban ; Above poverty lev...  306  1081

In [38]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [39]:
X=train.drop('Target',axis=1)
Y=train.Target

In [41]:
X_data_col=X.columns

In [42]:
from sklearn.preprocessing import StandardScaler
SS=StandardScaler()
X_data_1=SS.fit_transform(X)
X_data_1=pd.DataFrame(X_data_1,columns=X_data_col)

In [44]:
X_train,X_test,Y_train,Y_test=train_test_split(X_data_1,Y,test_size=0.25,stratify=Y,random_state=0)

In [45]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

rfc=RandomForestClassifier(random_state=0)
parameters={'n_estimators':[10,50,100,300],'max_depth':[3,5,10,15]}
grid=zip([rfc],[parameters])

best_=None

for i, j in grid:
    a=GridSearchCV(i,param_grid=j,cv=3,n_jobs=1)
    a.fit(X_train,Y_train)
    if best_ is None:
        best_=a
    elif a.best_score_>best_.best_score_:
        best_=a
        
        
print ("Best CV Score",best_.best_score_)
print ("Model Parameters",best_.best_params_)
print("Best Estimator",best_.best_estimator_)

Best CV Score 0.8507046183898423
Model Parameters {'max_depth': 15, 'n_estimators': 300}
Best Estimator RandomForestClassifier(max_depth=15, n_estimators=300, random_state=0)

In [46]:
RFC=best_.best_estimator_
Model=RFC.fit(X_train,Y_train)
pred=Model.predict(X_test)

In [47]:
print('Model Score of train data : {}'.format(Model.score(X_train,Y_train)))
print('Model Score of test data : {}'.format(Model.score(X_test,Y_test)))

Model Score of train data : 0.9831170643225896
Model Score of test data : 0.8824267782426778

In [48]:
from sklearn.metrics import confusion_matrix,f1_score,accuracy_score

In [49]:
confusion_matrix(Y_test,pred)

array([[ 138,   16,    0,   35],
       [   3,  304,    2,   90],
       [   1,   14,  177,  110],
       [   2,    6,    2, 1490]])

In [50]:
f1_score(Y_test,pred,average='weighted')

0.8754424314552197

In [51]:
accuracy_score(Y_test,pred)

0.8824267782426778